@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
*{
  font-family: Rubik, Times, serif;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f7f7f7;
}

header {
  color: #fcfdfd;
  font-weight: bold;
  background-color: #06a662;
  background-image: url('public/images/juan.png');
  padding: 20px;
  width: 65%;
}


header div img {
  height: 30px;
  width: 30px;
}

.social-media img {
  height: 40px;
  width: 40px;
}

.info-container span {
  color: white;
}

.description {
  background-color: white;
  width: 65%;
}

.description button{
  background-color: #07a562;
  text-transform: uppercase;
  color: #fcfdfd
}

.description p {
  text-align: center;
}

.description div {
  border-top: 1px solid rgba(185, 177, 177, 0.5);
}

.education h3 {
  text-align: center;
  text-transform: uppercase;
}

.education article {
  border-left: 4px solid #1a75d5;
  background-color: #fff;
  width: 26%;
}

.skills {
  background-color: #06a662;
  color: #fcfdfd;
}

.skills h3 {
  text-align: center;
}

.skills article {
  display: inline-block;
  width: 30%;
}

.skills h4 {
  text-align: center;
}